<clickhouse><logger><level>none</level><console>false</console></logger><http_port>56867</http_port><listen_host>127.0.0.1</listen_host><path>debug-db-proxy-test/data/</path><tmp_path>debug-db-proxy-test/tmp/</tmp_path><user_files_path>debug-db-proxy-test/user_files/</user_files_path><users_config>debug-db-proxy-test/users.xml</users_config><mark_cache_size>268435456</mark_cache_size><max_server_memory_usage>1073741824</max_server_memory_usage></clickhouse>